<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>CV</title>
</head>
<body>
<div id="menu">
    <header>
        Sebastian Lewandowski
    </header>
    <address>
        Polna 29/11, Poznań 61-141
        <a href="mailto:sebalewandowski@gmail.com">Email Me</a>
    </address>
    <hr>
    <section>
        Goals

    </section>
    <section>
        Skills
    </section>

    <section>
        Work Experience
    </section>

    <section>
        Education
    </section>

    <section>
        Achievements
    </section>

    <section>
        Hobbies and Interests
    </section>

    <footer></footer>
</div>

<form name="cv" method="post" onsubmit="return validateFrom()">
    <div class="form-group">
        <label>Imie</label> <span id="error-name"></span>
        <input type="text" name="imie" class="form-control" placeholder="Wpisz swoje imie">
    </div>
    <div class="form-group">
        <label>Nazwisko</label> <span id="error-name"></span>
        <input type="text" name="nazwisko" class="form-control" placeholder="Wpisz swoje nazwisko">
    </div>
    <div class="form-group">
        <label>Wiek</label> <span id="error-name"></span>
        <input type="number" name="wiek" class="form-control" placeholder="Wpisz swój wiek">
    </div>
    <div class="form-group">
        <label>Płeć</label> <span id="error-name"></span>
        <input type="text" name="your-name" class="form-control" placeholder="Wpisz swoja plec">
    </div>
    <div class="form-group">
        <label></label> <span id="error-name"></span>
        <input type="checkbox" name="your-name" class="form-control" placeholder="Enter your Name">
    </div>
    <div class="form-group">
        <input type="submit" value="Send">
    </div>
</form>
</body>
</html>